  .chessboard-container {
    position: relative;
    width: 35em;
    margin-left: 2em;
  }
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .game-over p {
    margin: 5px 0;
    color: white;
  }

  @media (max-width: 750px) {

    .chessboard-container {
        width: 22em;
        margin-left: 2.5em;
    }

    .chess-restart {
        display: none;
    }
  }