.footer {
    background-color: #2d2d2d;
    color: whitesmoke;
    padding: 2em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 5em;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-socials {
    margin: 1em 0;
  }
  
  .footer-socials a {
    margin: 0 1em;
    color: whitesmoke;
    font-size: 1.5em;
    transition: color 0.3s ease;
  }
  
  .footer-socials a:hover {
    color: #007bff;
  }
  
  .footer-links {
    margin: 1em 0;
  }
  
  .footer-links a {
    margin: 0 1em;
    color: whitesmoke;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 0.5em 0;
  }

  @media(max-width: 750px) {

    .footer {
        width: auto;
        margin-top: 0;
    }


  }
  