.options {
  padding: 20px;
  border-right: 1px solid gray;
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25em;
}

.lang-button {
  border: none;
  background: none;
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 28px;
}

.lang-button:hover {
  color: rgb(194, 72, 222);
}

.mail-icon-button {
  border: none;
  color: whitesmoke;
  background-color: transparent;
  margin-top: 3em;
  cursor: pointer;
}

.mail-icon-button:hover {
  color: rgb(194, 72, 222);
}

