.options {
  padding: 20px;
  border-right: 1px solid gray;
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25em;
}

.lang-button {
  border: none;
  background: none;
  font-size: x-large;
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.3s ease;
}

.lang-button:hover {
  color: #007bff;
}
