.projects {
  width: 100%;
  text-align: center;
}

.projects h1 {
  color: whitesmoke;
}

.filter-buttons {
  margin-bottom: 2em;
}

.filter-buttons button {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: large;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.filter-buttons button.active {
  border-bottom: 2px solid whitesmoke;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.project-item {
  padding: 1.5em;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1.5em;
  color: whitesmoke;
}

.project-11 {
  margin-top: -8em;
  margin-bottom: -8em;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  
}

.project-imagebox {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-img {
  max-width: 35em;
  object-fit: contain;
  border-radius: 10px;
  margin-left: -1em;
}

.project-img-3 {
  width: 30em;
  scale: 0.8;
}

.project-img-4 {
  width: 40em;
}

.project-6 {
  margin-top: -2em;
}

.project-img-6 {
  width: 30em;
  scale: 0.7;
}

.project-11 {
  margin-top: -4em;
}

.project-img-11 {
  scale: 0.7;
  border: 3px solid #444;
  border-radius: 50px;
}

.project-12 {
  margin-bottom: -4em;
}

.project-img-12 { 
  width: 18em;
  border: 3px solid #4caf50;
  border-radius: 40px;
}

.project-info-container {
  height: 23em;
}



.project-info {
  flex: 2;
  height: 17em;
  max-width: 40em;
  text-align: left;
  background-color: #201c1c;
  margin-left: 1em;
  border-radius: 20px;
}

.project-title-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.project-open {
  color: green;
  font-size: x-large;
  font-weight: bold;
}

.project-info h3 {
  font-size: xx-large;
  margin-left: 0.5em;
}

.project-info p {
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5em;
  margin-top: -1em;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-left: 1em;
}

.technology-box {
  background: #444;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-size: 0.9em;
}

.project-link {
  height: 5em;
  background-color: #201c1c;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 40em;
  margin-left: 1em;
  z-index: 999;
}

.project-link:hover {
  background-color: rgb(98, 44, 152);
  cursor: pointer;
}

.project-link a {
  color: whitesmoke;
  text-decoration: none;
}

.projects-mobile-title, .project-title-container-mobile {
  display: none;
}

@media (max-width: 750px) {

  .projects h1 {
    display: none;
  }

  .filter-buttons {
    width: 100%;
    margin: 0;
  }

  .filter-buttons button {
    margin-left: 0em;
    margin-right: 0em;
    font-size: medium;
  }

  .project-title-container-mobile {
    display: flex;
    flex-direction: column;
  }

  .project-title-container-mobile span {
    margin-top: -1em;
    margin-bottom: 1em;
  }

  .projects-mobile-title {
    display: flex;
    text-align: center;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  .project-title-container {
    display: none;
  }
  
  .projects {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-content {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4em;
  }

  .project-imagebox {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .project-imagebox img {
    max-width: 90%;
    object-fit: contain;
    border-radius: 10px;
  }

  .project-img {
    margin-left: 0.2em;
    margin-bottom: 1em;
  }

  .project-info {
    max-width: 90%;
    text-align: center;
    background-color: #201c1c;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    height: auto;
    margin-top: 0.5em;
  }

  .project-info p {
    margin-top: 0.5em;
  }

  .project-technologies {
    justify-content: center;
  }

  .project-link {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-11 {
    margin-top: -2em;
  }

  .project-img-11 {
    margin-top: -7em;
  }

  .project-info-11 {
    margin-top: -6.5em;
  }

  .project-2 {
    margin-bottom: 3em;
  }

  .project-3 {
    margin-top: -1em;
  }

  .project-img-3 {
    margin-top: -2em;
  }

  .project-info-3 {
    margin-top: -2em;
  }

  .project-4 {
    margin-top: -5em;
  }

  .project-5 {
    margin-top: -6em;
  }

  .project-6 {
    margin-top: -3em;
  }

  .project-img-6 {
    margin-top: -3em;
  }

  .project-info-6 {
    margin-top: -3em;
  }

  .project-7 {
    margin-top: -3em;
    margin-bottom: 3em;
  }

  .project-8 {
    margin-top: -4em;
  }

  .project-9 {
    margin-top: -6em;
  }

  .project-10 {
    margin-top: -6em;
  }

  .project-12 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  .project-img-12 { 
    width: 12em;
    border: 3px solid #4caf50;
    border-radius: 40px;
  }

  .project-13 {
    margin-bottom: -4em;
    margin-top: -5em;
  }

}
