.projects {
  width: 100%;
}

.Projects-title {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 1em;
  margin-left: 1em;
  color: whitesmoke;
}

/* Filter buttons */

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  gap: 1em;
}

.filter-buttons button {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

.filter-buttons button.active {
  background-color: #0056b3;
}

/* Timeline */

.project-timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-item {
  width: 45%;
  height: 25em;
  padding: 1em;
  position: relative;
  margin-bottom: -10em;
}

.timeline-item a {
  text-decoration: none;
}

.timeline-item.left {
  justify-content: flex-end;
}

.timeline-item.right {
  justify-content: flex-start;
  margin-left: 52%;
}

.project-content {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid whitesmoke;
  text-align: center;
}

.project-content h3 {
  color: whitesmoke;
  font-size: x-large;
}

.project-content p {
  color: whitesmoke;
  font-size: large;
}

.project-timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #007bff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-item.left .project-content::after {
  content: '';
  position: absolute;
  top: 35%;
  right: -8px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #f1f1f1;
}

.timeline-item.right .project-content::after {
  content: '';
  position: absolute;
  top: 40%;
  left: -8px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #f1f1f1 transparent transparent;
}

/* Timeline Images */

.project-content:hover .project-image {
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
  z-index: 1;
}

.project-content:hover .project-icon {
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
  z-index: 1;
}

.project-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.project-icon {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.project-image-1, .project-image-9, .project-image-10 {
  width: 30%;
  height: auto;
}

.project-image-2 {
  width: 50%;
  height: auto;
  margin-bottom: -1em;
}

.project-image-3 {
  width: 35%;
  height: auto;
}

.project-image-4 {
  width: 30%;
  height: auto;
}

.project-image-5 {
  width: 25%;
  height: auto;
}

.project-image-6 {
  width: 50%;
  height: auto;
}

.project-image-7 {
  width: 40%;
  height: auto;
  margin-bottom: -0.5em;
}

.project-image-8 {
  width: 45%;
  margin-top: -1em;
  margin-bottom: -2em;
  height: auto;
}

.project-image-11 {
  width: 30%;
  height: auto;
}

.timeline-item:hover .project-content {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 750px) {
  .project-timeline {
    display: flex;
    flex-direction: column;
  }

  .timeline-item {
    max-width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .timeline-item.left, .timeline-item.right {
    margin-left: 0;
    width: auto;
    max-width: 80%;
  
  }

  .project-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1em;
    border: 1px solid whitesmoke;
  }

  .project-image {
    width: 30%;
    height: auto;
    margin-right: 1em;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
  }

  .project-description h3 {
    font-size: large;
    margin-bottom: 0.5em;
  }

  .project-description p {
    font-size: medium;
  }

  .project-timeline::before {
    content: none;
  }

  .timeline-item.left .project-content::after,
  .timeline-item.right .project-content::after {
    content: none;
  }
}
