body {
  background-color: #181414;
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.options {
  width: 3%;
}

.main-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info {
  width: 20%;        
  border-left: 1px solid grey;
}

footer {
  width: 100%;
  background-color: #2d2d2d;
  color: whitesmoke;
  padding: 2em;
  text-align: center;
}

@media(max-width: 750px) {
  .options {
    display: none;
  }
  .main-container {
    flex-direction: column;
  }
}
