.studytracker-image1 {

}

.studytracker-image2 {
}


@media (max-width: 750px) {
    .studytracker-image1 {
        width: 70%;
        margin-top: 1em;
    }

    .studytracker-image2 {
        width: 80%;
    }
}